# https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-azure
  name: 090-oidc-azure
  on:
    push:
      branches: none # [ main ]
      paths:
      - '.github/workflows/090-oidc-azure.yml'
    pull_request:
      branches: none # [ main ]
      
    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

  permissions:
        id-token: write
        contents: read
  jobs: 
    build-and-deploy:
      runs-on: ubuntu-latest
      steps:
        - name: 'Az CLI login'
          uses: azure/login@v1
          with:
            client-id: ${{ secrets.AZURE_CLIENT_ID }}
            tenant-id: ${{ secrets.AZURE_TENANT_ID }}
            subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    
        - name: 'Run az commands'
          run: |
            az account show
            az group list

        - name: Get Databricks Token
          id: get_token
          run: |
            # Get an Azure AD token for the Databricks resource
            token=$(az account get-access-token --resource 2ff814a6-3304-4ab8-85cb-cd0e6f879c1d --query accessToken -o tsv)
            
            # Export it as a masked env var for subsequent steps
            echo "::add-mask::$token"
            echo "DATABRICKS_TOKEN=$token" >> $GITHUB_ENV

        # 3. Run Databricks Commands
        - name: Run Databricks CLI
          env:
            DATABRICKS_HOST: https://adb-7405614044593132.12.azuredatabricks.net # Your Workspace URL
          run: |
            # The CLI will automatically use the DATABRICKS_TOKEN env var set above
            databricks workspace list
            databricks clusters list
